:root {
  --button: hsl(0, 100%, 50%);
  --main-background: hsl(0, 0%, 77%);
  --background: hsl(0, 0%, 90%);
  --text: hsl(0, 0%, 0%);
  --footer: hsl(0, 0%, 0%);
  --text-description: hsl(0, 3%, 60%);
  --text-white: hsl(0, 0%, 100%);
  font-size: 62.5%; /*1rem = 10px*/
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background);
}

input,
button {
  outline: none;
  border: none;
}

button {
  cursor: pointer;
}

.container {
  position: relative;
  display: grid;
  grid-template-columns: 38% 1fr;
}

nav {
  position: absolute;
  grid-column: 1/3;
  display: flex;
  align-items: center;
  width: 100%;
  padding-inline: 6rem;
  margin-top: 3.9rem;
}

nav .logo {
  width: 5.2rem;
  height: 3.6rem;
}

nav ul {
  display: flex;
  align-items: center;
  flex: 1 1 auto;

  margin-left: 6rem;
  margin-right: 8.2rem;

  justify-content: space-between;
}

@media (max-width: 1024px) {
  nav ul {
    margin-left: 5rem;
    margin-right: 4rem;
  }
}

nav ul a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.8rem;

  color: var(--text);
}

nav input {
  position: relative;
  width: 22rem;
  height: 4.5rem;
  padding-left: 4.2rem;
  padding-top: 0.25rem;
}

@media (max-width: 1024px) {
  nav input {
    width: 18rem;
  }
}
nav .inputSearch {
  position: relative;
  flex: 0.2 1 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .inputSearch::before {
  content: '';
  position: absolute;
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  top: 1.1rem;
  left: 1.4rem;
  background: url('../assets/icon-search.svg') left center no-repeat;
  z-index: 1000;
}

nav input::placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.1rem;

  color: var(--text-description);
}

nav .bag {
  width: 3.4rem;
  height: 3.4rem;
}

main {
  grid-column: 1/2;
  margin: 19rem 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 6rem;
  line-height: 7rem;
  white-space: nowrap;

  overflow-y: hidden;

  margin-bottom: 2.1rem;

  color: var(--text);
}

main p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.9rem;
  white-space: nowrap;

  color: var(--text-description);
}

main h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.7rem;

  margin: 4.1rem 0 3rem 0;

  color: var(--text);
}

main button {
  width: 27.4rem;
  height: 9rem;
  background: var(--button);

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.8rem;

  color: var(--text-white);
}

.productImages {
  grid-column: 2/3;
  background: var(--main-background);
  padding-bottom: 2rem;
}

.productImages > img:nth-child(n + 1) {
  width: calc(100% - 8rem);
  height: 60rem;

  margin: 17.468rem 15rem 0 5rem;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.shoesHidden {
  display: none;
}

.productImages ul {
  display: flex;
  justify-content: space-between;
  margin-inline: 1.8rem;
  gap: 3.7rem;
}
.productImages ul img {
  max-height: 18.28rem;
}

.productImages ul li {
  position: relative;
}

.productImages ul li.active::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 0.5rem;
  bottom: 0;
  left: 0;
  background: red;
  z-index: 111111;
}

@media (max-width: 1024px) {
  .productImages > img:nth-child(n + 1) {
    max-height: 46rem;
    margin: 17.468rem 0 0 5rem;
  }

  .productImages ul img {
    max-height: 10rem;
  }
}

footer {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 17% 53% 30%;
}

footer iframe {
  cursor: pointer;
  margin-top: 1rem;
}

footer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 3rem 0 4.7rem;
}

@media (max-width: 1300px) {
  footer ul {
    margin: 0 3rem 0 5rem;
  }
}

@media (max-width: 1200px) {
  footer ul {
    margin: 0 3rem 0 7rem;
  }
}

@media (max-width: 1080px) {
  footer ul {
    margin: 0 1rem 0 9rem;
  }
}

footer ul li a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.1rem;

  color: var(--footer);
}

footer img {
  width: 2.4rem;
  height: 2.4rem;
  margin-left: 1.4rem;
}

footer button {
  background: var(--footer);
  max-width: 43.7rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

footer button div {
  display: flex;
}

footer button div a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.8rem;

  white-space: nowrap;

  color: var(--text-white);
}
